/* CSS reset*/
*{
    margin: 0px;
    padding: 0px;
}

#full-body::before{
    content: "";
    background: url(../images/background.png) no-repeat center center/cover;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.89;
}

html{
    scroll-behavior: smooth;
}

/* navbar-->CSS */
#navbar{
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 12;
}

#navbar::before{
    content: "";
    background-color: black;
    border-bottom: 10px solid black;
    border-radius: 14px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 113%;
    z-index: -1;
    opacity: 0.39;
}

#logo{
    margin: 15px 30px;
}

#logo img{
    margin: 1px 6px;
}

#navbar ul{
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left: 550px;
    margin-right: 430px;
}

#navbar ul li{
    list-style: none;
    font-size: 1.8rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 30px;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.5s ease;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Right side nav bar */
#sidenav{
    position: fixed;
	top: 15%;
	bottom: auto;
	z-index: 11;
	left: 1%;
	padding-top: 250px;
}

#sidenav ul{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

#sidenav ul li{
    list-style: none;
    font-size: 1.4rem;
}

#sidenav ul li a{
    color: rgb(215, 224, 126);
    display: block;
    padding: 12px 5px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.5s ease;
}

#sidenav ul li a:hover{
    color: black;
    background-color: rgb(215, 224, 126);
}


/* display flex of all sections */

#fullbody{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}

 #cybercell{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}

#block1{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 10;
}

#minivishwactf{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 10;
}

#previousevents{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}

#aboutevents{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 10;
}

#aboutevents1{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 10;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#footer_img{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* applying main css to all part */

#firstblock{
    display: flex;
    height: 315px;
    width: 944px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.82);
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 17rem;
    margin-left: 8rem;
    font-weight: normal;
    font-size: 25px;
    align-items: center;
    text-align: left;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
    color: #FFFFFF;
}

#img_box1{
    display: flex;
    flex-direction: column;
    height: 315px;
    width: 315px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.82);
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 17rem;
    margin-left: 1rem;
    font-size: 55px;
    align-items: center;
    text-align: center;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    /* letter-spacing: -0.017em; */
    color: #FFFFFF;
}

#cybercellimg{
    width: 139px;
    height: 139px;
}

.viit1{
    position: relative;
    top: 1rem;
}

#block2{
    display: flex;
    height: 192px;
    width: 1326px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.82);
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 1rem;
    margin-left: 8rem;
    font-weight: normal;
    font-size: 25px;
    align-items: center;
    text-align: center;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
    color: #FFFFFF;
}

#heading1{
    display: flex;
    height: 380px;
    width: 380px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.82);
    padding: 20px 20px 20px 20px;
    margin-top: 10rem;
    margin-left: 20.6rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
}

#heading1 span{
    color: red;
}

#aboutminictf{
    display: flex;
    height: 380px;
    width: 896px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.82);
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 10rem;
    margin-left: 1rem;
    align-items: center;
    text-align: right;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
}

#box{
    display: flex;
    height: 50px;
    width: 400px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.82);
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 10rem;
    margin-left: 9rem;
    align-items: center;
    text-align: center;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
}

#points{
    display: flex;
    height: 350px;
    width: 650px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.82);
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 1rem;
    margin-left: 8rem;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    text-align: left;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
}

#points ul li{
    list-style: none;
    line-height: 60px;
}

#points1{
    display: flex;
    height: 350px;
    width: 650px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.82);
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 1rem;
    margin-left: 8rem;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    text-align: left;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
}

#points1 ul li{
    list-style: none;
    line-height: 60px;
}

#heading2{
    display: flex;
    height: 350px;
    width: 616px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.82);
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: center;
    text-align: right;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
}

#heading3{
    display: flex;
    height: 350px;
    width: 616px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.82);
    line-height: 33px;
    padding: 20px 20px 20px 20px;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: center;
    text-align: right;
    word-spacing: 1px;
    justify-content: center;
    word-wrap: normal;
    letter-spacing: -0.017em;
}

/* footer */

#discord{
    padding: 4px;
    margin: 7px;
}

#insta{
    padding: 4px;
    margin: 7px;
}

#linkedin{
    padding: 4px;
    margin: 7px;
}

#twitter{
    padding: 4px;
    margin: 7px;
}

#github{
    padding: 4px;
    margin: 7px;
}

#footer{
    width: 1900px;
    /* height: 202px; */
    background-color: rgba(0, 0, 0, 0.39);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
}